In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns

In [2]:
data = pd.read_csv('data/data.csv')
data.head()

,Dates of the year 2009,Reference value of\nT_{B} (K) at\n23.834GHz,Reference Value of\nT_{B} (K) at 30GHz,Precursor time of\nrain event (minutes)
0,14^{th} Jan,70.26,30.80,35.58
1,15^{th} Jan,68.15,30.25,36.18
2,16-17^{th} Jan,72.23,33.58,38.65
3,17^{th} Jan,73.04,31.75,36.49
4,18^{th} Jan,68.80,30. 43,38.05

In [3]:
data.shape

(52, 4)

In [9]:
newColumns = ['Date','T23.834GHz','T30GHz','raintime']
data.columns = newColumns
data.head()

             Date  T23.834GHz  T30GHz  raintime
0     14^{th} Jan       70.26   30.80     35.58
1     15^{th} Jan       68.15   30.25     36.18
2  16-17^{th} Jan       72.23   33.58     38.65
3     17^{th} Jan       73.04   31.75     36.49
4     18^{th} Jan       68.80  30. 43     38.05

AttributeError: 'float' object has no attribute 'split'